/Temp
/Library
/Logs
/obj
/.vs
/*.log
/*.apk
/Assets/Resouse/SkyBox/Textures/*.psd
/*.csproj
/*.sln
/Assets/TTSDK/UnionPlatform/Plugins/iOS/BUFoundation.framework
/Assets/TTSDK/UnionPlatform/Plugins/iOS/BUAdSDK.bundle.meta
/Assets/TTSDK/UnionPlatform/Plugins/iOS/BUAdSDK.framework
/Assets/TTSDK/UnionPlatform/Plugins/iOS/BUAdSDK.bundle
/*.zip
/aaa
/*.rar
/sdk_orgion
exptest
